@model IEnumerable<_2011600136_ENT.Entities.Persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DNIPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdadPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoPersona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DNIPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdadPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoPersona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonaId })
        </td>
    </tr>
}

</table>
