@model IEnumerable<_2011600136_ENT.Entities.MedioPago>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreBanco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreBanco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedioPagoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedioPagoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedioPagoId })
        </td>
    </tr>
}

</table>
